@import '../../styles/shared';

.header {
    height: 235px;
    background-color: $primary-bg;

    .container {
        padding: 26px 0 26px 501px;
        box-shadow: 6px -30px 37px #0000002b;
    }
}


.header__title-container {
    padding: 30px 28px 30px 75px;
    width: 602px;
    border: 2px solid $primary-text;
    border-radius: 30px;
}

.header__subtitle {
    @extend %subtitle;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
}

.header__title {
    @extend %title;

    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;

    color: white;
}