@import '../styles/shared.scss';

.section-info {
    padding-top: 59px;
    padding-bottom: 87px;
    position: relative;

    .container {
        box-shadow: 6px 48px 37px #0000002b;
    }
}

.info__flex-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    position: relative;
    justify-content: space-between;

    &::before {
        position: absolute;
        content: '';
        display: block;
        background: #864d3f;
        width: 100%;
        height: 3px;
        top: -29px;
    }

    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background: #864d3f;
        position: absolute;
        bottom: -17px;
        left: 0;
    }
}

.info__general {
    width: 770px;
    position: relative;

    .info__content {
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }

}

.info__special {
    margin-top: 250px;
    width: 300px;

    .info__content {
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }
}

.title {
    @extend %title;

    margin-bottom: 20px;
    padding: 5px;
    text-align: center;

    font-size: 24px;
    line-height: 41px;
    background: rgba(230, 219, 208, 0.72);
    border-radius: 20px;
}

.text {
    font-family: "Open Sans", sans-serif;

    font-size: 16px;
    line-height: 1.66;
    color: $secondary-text;

    &.projects__text {
        line-height: 1.55;
    }
}

.projects__item {
    &:not(:last-child) {
        margin-bottom: 14px;
    }

    .projects__title {

        font-weight: 400;
        margin-bottom: 8px;
        font-size: 20px;
    }
}

.projects__link {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.projects__technologies {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.skills__item {
    padding-left: 30px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    &.text {
        text-transform: capitalize;
        line-height: 1.55;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url('./radio-checked.png');
        width: 13px;
        height: 13px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 10px;
        left: 0px;
    }
}

.additional-container {
    display: flex;
    margin-left: 96px;
}

.work-experience,
.education {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.work-experience {
    padding-bottom: 40px;

    .date-period {
        margin-bottom: 15px;
    }
}

.work-experience__responsibilities-list {
    padding-left: 30px;
    list-style: circle;
}

.work-experience__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.university__title {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.52;
    color: #000;

}

.profession__title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: $secondary-text;
}

.date-period {
    font-style: italic;

    font-size: 16px;
}

.courses {
    line-height: 1.32;
    font-family: Open Sans;
}

.courses-list__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.courses__title {
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
    font-size: 22px;

    .courses__name {
        color: inherit;
    }
}