@import '../../styles/shared.scss';

.avatar__box {
    position: absolute;
    top: -268px;
    left: 25px;

    width: 365px;
    height: 507px;
    border: 2px solid $primary-text;
    border-radius: 30px;
    z-index: 99;

    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 16px;
        left: -12px;

        width: 358px;
        height: 471px;

        background-image: url(./avatar_2.jpg);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: 44% 0%;
        border-radius: 30px;
    }
}